.header-login{
    position:absolute;
	width: 12%;
	right: 0;
    display: inline-block;	
    outline: 1px solid red;
}
.header-login button{
	width: 100%;
	
	/* display: block; */
	
}
input[type="text"]{
	width: 100%;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 28px;
}
/* #div-login-form{
	position: relative;
} */