.sidebar-event-list{
    display: inline-block;
	position: absolute;
	/* top: 100px; */
	right: 0;
	/* left: 10px; */
	margin-top: 150px;
	width: 20%;
	box-sizing: border-box;
	height: 100px;
	padding: 10px 20px;
	text-align: center;	
	/* vertical-align: top; */
	outline: 1px solid red;
    /* outline: 1px solid black; */
}
.sidebar-event-list li{
	list-style-type: square;
}
