<h1>eventJoin.html</h1>
<div class="btn-group type-group">
    <a href="#" class="btn btn-primary">Allt</a>
    <a href="#" class="btn">Löpning</a>
    <a href="#" class="btn">Styrketräning</a>
    <a href="#" class="btn">Kampsport</a>
    <a href="#" class="btn">Fotboll</a>
    <a href="#" class="btn">Lugnt</a>
    <a href="#" class="btn">Övrigt</a>
</div>
<br/>
<span style="width: 100%; display: block;">Eller frisök</span>
<br/>
<input type="text" placeholder="t ex sport, plats och/eller tid"></input>
<br />
<a href="#">Karta</a> | <a href="#">Lista</a>
<br />
<!-- <input type="text" ng-model="mapProp.zoom"></input>{{mapProp.zoom}} -->
<div id="googlemap">
<!--	<marker cords="mapProp.cords"></marker>-->
</div>
<!-- <google-map center="{lat: 62.5421031, lng: 19.7477994 }" zoom: "7"></google-map> -->
