<h1>eventJoin.html</h1>
<div class="btn-group type-group">
    <a href="#" class="btn btn-primary">Allt</a>
    <a href="#" class="btn">Löpning</a>
    <a href="#" class="btn">Styrketräning</a>
    <a href="#" class="btn">Kampsport</a>
    <a href="#" class="btn">Fotboll</a>
    <a href="#" class="btn">Lugnt</a>
    <a href="#" class="btn">Övrigt</a>
</div>
<br/>
<span style="width: 100%; display: block;">Eller frisök</span>
<br/>
<d-search-bar markers-event="markersEvent" s-hits="hits" class="dSearch-bar-container"></d-search-bar>
<br />
<a href="#">Karta</a> | <a href="#">Lista</a>
<br />
<div id="googlemap">
</div>

