.type-group {
    padding: 20px 0;
}
#googlemap {
    display: inline-block;
    border: 1px solid black;
    /*Below css makes div square responsive*/
    height: 0;
    padding-bottom: 60%;
    width: 80%;
}
/*.container_map{
    display: inline-block;
    border: 1px solid black;
height: 0; padding-bottom: 60%; width: 80%;
}
*/
